.meanings {
    background-color: #100c34;
    color: #fff;
    width: 100vw;
    height: 100%;
    padding: 50px;
}

.meanings__title {
    margin-bottom: 20px;
}

.meanings__text {
    margin-bottom: 50px;
}

.meanings__descriptions {
    margin-bottom: 10px;
}

.meanings__list {
    list-style: none;
    margin: 5px 0;
}

.meanings__links {
    color: #fff;
    text-decoration: none;
}

.meanings__links:hover {
    color: #23c433;
}

.meanings__back-top {
    cursor: pointer;
}
